.orange-de{
    background: linear-gradient(to top right, #ff5263 0%, #ff7381 35%, #fcbd01 100%) !important;
    border-color:linear-gradient(to top right, #ff5263 0%, #ff7381 35%, #fcbd01 100%) !important ;
    border-inline-color:linear-gradient(to top right, #ff5263 0%, #ff7381 35%, #fcbd01 100%) !important ;
}
